body {
    margin: 0;
}

.ui-cell-editor-input {
    margin: 5px;
}

.ui-widget {
    font-size: 14px;
}

td {
    padding: 3px;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.success {
    background-color: #E9FBE9;
}

.warning, body .ui-datatable tr.ui-state-hover td.warning {
    background-color: #FFE0B2;
}

.danger {
    background-color: #FFE6DE;
}

.ui-datatable-scrollable-theadclone {
    visibility: collapse;
}

tr.ui-state-highlight, tr.ui-state-highlight td {
    background-color: #90D4F4 !important;
    background-image: none !important;
    color: #444;
}