body {
    margin: 0;
}

.ui-cell-editor-input {
    margin: 5px;
}

.ui-widget {
    font-size: 14px;
}

table .ui-widget-content .ui-state-highlight {
    border: 1px solid #C7C7C7;
    background: #DCDCDC;
    color: #363636;
}

tr .ui-widget-content .ui-state-hover {
    background: #1C1C1C;
}